<div class="w-50 mx-auto">
    <p class="fs-1">Add product</p>
  <form action="/login" method="post">
    <div class="form-floating mb-3">
      <input
        name="title"
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Title"
      />
      <label for="floatingInput">Title</label>
    </div>
    <div class="form-floating">
      <textarea
        name="description"
        class="form-control"
        id="floatingTextarea2"
        placeholder="description"
        style="height: 100px"
      ></textarea>
      <label for="floatingTextarea2">Description</label>
    </div>
    <button class="btn btn-primary mt-3" type="submit">Login</button>
  </form>
</div>